<h1>random no</h1>

<input type="text" value="{{text}}" disabled>
<div class="dropdown show">
  <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>


  <div class="form-group">
       <select name="dropdown" class="form-control" autocomplete="on">
                <option value="ML">Machine Learning</option>
                <option value="AI">Artificial Intelligence</option>
       </select>
  </div>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
	 <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
